{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container-fluid">
            <div class="card-body">
                <h5 class="card-title">User Details</h5>
                <p>ID: {{ user.id }}</p>
                <p>Username: {{ user.username }}</p>
                <p>Age: {{ user.age }}</p>
            </div>
        </article>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">Users</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                            <a href="/users/{{ user.id }}">{{ user.username }}</a> (Age: {{ user.age }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}